{% extends 'base_public.html' %}
{% load staticfiles %}
{% block title %}SEMEX | Normas{% endblock %}

{% block header %}
    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-12 text-center">
                    <img src="{% static 'images/SIUFPI_site.png' %}" alt="">            
                    <h1>NORMAS PARA INSCRIÇÃO E APRESENTAÇÃO DE TRABALHOS</h1>
                </div>
            </div>
        </div>
    </header>
    <!--Header-area/-->
{% endblock %}

{% block body %}

    <section class="gray-bg section-padding" id="register-page">
        <div class="container">
            <div class="row">
                  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                    <div class="page-title">
                      <h2>NORMAS PARA INSCRIÇÃO E APRESENTAÇÃO DE TRABALHOS</h2>
                      <p>A seguir estão dispostas as normas de inscrição e apresentação de trabalhos no evento VIII SEMEX</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <h4>1. Critério</h4>
                  <p class="paragraph">
                    Somente poderão ser inscritos no IX SEMEX os trabalhos que, no seu corpo, apresentarem claramente natureza extensionista e se referirem a ações de extensão<strong> cadastradas na PREXC.</strong> 
                  </p> <br/>
                  <h4>2. Áreas Temáticas</h4>
                  <p class="paragraph">
                    Os trabalhos poderão ser do tipo Comunicação Científica, Relatos de Experiências e Performance <strong>artístico-cultural (nesse caso será submetido o roteiro com a descrição da apresentação contendo tempo e infraestrutura necessária para execução)</strong>, devendo estar incluídos em uma das seguintes áreas temáticas e respectivas grandes áreas: 
                  </p> <br/>

                  <table class="table table-bordered">
                      <thead>
                          <tr>
                            <th scope="col">Grande Área</th>
                            <th scope="col">Áreas temáticas</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td>Projetos culturais</td>
                            <td>Cultura <br/>Arte</td>
                          </tr>
                          <tr>
                            <td>Saúde</td>
                            <td>Saúde</td>
                          </tr>

                          <tr>
                            <td>Educação</td> 
                            <td>
                              Educação
                            </td>
                          </tr>
                          <tr>
                            <td>Outros</td> 
                            <td>
                              Comunicação
                              <br/>Direitos Humanos
                              <br/>Justiça
                              <br/>Inclusão Social
                              <br/>Meio ambiente
                              <br/>Tecnologia e Produção
                              <br/>Trabalho
                            </td>
                          </tr>
                      </tbody>
                  </table>

                  <h4>3. Modalidade de Trabalhos</h4>
                  <p class="paragraph">
                    Os trabalhos a serem apresentados no SEMEX serão em três modalidades: pôster, comunicação oral e <strong>performance artístico-cultural.</strong> Na inscrição dos trabalhos, deverá ser informada a modalidade de apresentação <strong>(performance artístico-cultural ou Banner)</strong>. Ficará sob a responsabilidade da Comissão Científica de cada Campus a definição dos trabalhos para a comunicação oral, conforme descrito no item 6, considerando a anuência do autor no ato da submissão.
                  </p>
                  <p>
                    <strong><i>Obs: Os autores de trabalhos inscritos na modalidade performance artístico-cultural deverão se responsabilizar pela infraestrutura necessária à execução da mesma. </i></strong>
                  </p> <br/>

                  <h4>4. Autoria</h4>
                  <p class="paragraph">
                    Cada trabalho poderá ser composto por, no máximo, 5 (cinco) autores,<strong> sendo um deles o coordenador</strong> da ação de extensão a que se refere o trabalho.
                    Os autores dos trabalhos devem estar vinculados às ações de extensão cadastradas na PREXC.
                  </p>
                  <p>
                    <strong><i>Obs. 1:  Os trabalhos que não atenderem a estas especificações não serão aceitos </i></strong>
                  </p>
                  <p>
                    <strong><i>Obs. 2: Somente receberão certificado de apresentação de trabalho, os autores e coautores inscritos no IX SEMEX.  </i></strong>
                  </p> <br/>

                  <h4>5. Critérios de Avaliação para os trabalhos a serem apresentados no evento</h4>
                  <p class="paragraph">
                    A análise dos trabalhos será feita por avaliadores ad hoc no sistema anônimo, adotando os critérios e procedimentos informados para cada uma das modalidades de trabalho. Cada Campus constituirá seu corpo de avaliadores ad hoc.Os avaliadores julgarão os trabalhos exclusivamente por sua <strong>natureza extensionista e sua qualidade.</strong>
                  </p>
                  
                  <p class="paragraph">
                    No que se remete à natureza extensionista, será observado o enquadramento às seguintes diretrizes: 
                  </p>

                  <p class="paragraph">
                    1) Interação dialógica com outros setores da sociedade;
                  </p>
                  <p class="paragraph">
                    2) Indissociabilidade entre ensino, pesquisa e extensão;
                  </p>
                  <p class="paragraph">
                    3) Interdisciplinaridade;
                  </p>
                  <p class="paragraph">
                    4) Impacto na formação do estudante e na comunidade atendida
                  </p>
                  <p class="paragraph">
                    5) Ações desenvolvidas em comunidade de vulnerabilidade social.
                  </p>
                  

                  <p class="paragraph">
                    No que tange à qualidade do trabalho, será observado o enquadramento às normas do Seminário, tais como: 
                  </p>

                  <p class="paragraph">
                    1) Clareza do tema proposto;
                  </p>
                  <p class="paragraph">
                    2) Originalidade;
                  </p>
                  <p class="paragraph">
                    3) Coerência entre o título e o desenvolvimento do trabalho;
                  </p>
                  <p class="paragraph">
                    4) Inclusão em uma das áreas temáticas (definidas no item 1 destas normas)
                  </p>
                  <p class="paragraph">
                    5) Apresentação e discussão pertinente e relevante; 
                  </p>
                  <p class="paragraph">
                    6) Consistência na construção do desenvolvimento do trabalho; 
                  </p>                  
                  <p class="paragraph">
                    7) Coerência entre o(s) objetivo(s) e a conclusão do trabalho; 
                  </p>                     
                  <p class="paragraph">
                    8) Procedimentos metodológicos;  
                  </p>                   
                  <p class="paragraph">
                    9) Adequação à norma da Língua Portuguesa;  
                  </p>                    
                  <p class="paragraph">
                    10) Adequação às normas da Associação Brasileira de Normas Técnicas (ABNT). 
                  </p>    


                  <p>
                    <strong><i>Obs. 1: Os trabalhos que não atenderem a estas especificações não serão aceitos.. </i></strong>
                  </p>
                  <p>
                    <strong><i>Obs. 2: Não caberá recurso com relação ao resultado da análise do trabalho. </i></strong>
                  </p> <br/>

                  <h4>6. Formato dos Trabalhos</h4>
                  <p class="paragraph">
                    O formato dos trabalhos para submissão será Resumo Expandido, que deverá estar estruturado de acordo com as instruções abaixo:
                  </p> <br/>

                  <h4>6.1.  Recomendações Gerais</h4>
                  <p class="paragraph">
                   Os resumos expandidos devem observar os critérios e procedimentos informados na proposta do evento, não podendo conter qualquer tipo de ofensa ou discriminação a pessoas e/ou ideologias. 
                  </p>
                  <p class="paragraph">
                    O conteúdo dos trabalhos publicados é de inteira responsabilidade de seus autores. Ao submeterem seus trabalhos, estes concordam que os direitos autorais referentes a cada trabalho estão sendo cedidos para os Anais do Evento.
                  </p> <br/>

                  <h4>6.2 Normas Técnicas</h4>
                  <p class="paragraph">
                    a) Os trabalhos devem ser enviados exclusivamente pela internet, através da página <a href="www.semex.ufpi.br">www.semex.ufpi.br</a>, em dois formatos:<strong> um em PDF (sem identificação dos autores – para a comissão de avaliação) e o outro em DocWord (com identificação dos autores – para publicação nos anais)</strong>, sendo que o tamanho de cada um não poderá exceder 2 MBytes.
                  </p>
                  <p class="paragraph">
                    b) O texto deve ser organizado em Título, Autores, Resumo, Palavras-chave, Introdução (com bases literárias), Métodos, Resultados (ou relato de experiência) e Discussão, Conclusões ou Considerações Finais e Referências. Se for o caso, trará, ainda, Tabelas, Gráficos e Imagens (limitadas ao tamanho do arquivo);
                  </p>
                  <p class="paragraph">
                    c) <strong>EXCLUSIVAMENTE</strong> para trabalhos na área de <strong>projetos culturais que serão apresentados em formato de performance</strong>, o texto deve ser organizado em Título, Autores, Resumo, Palavras-chave, <strong> roteiro de apresentação contendo infraestrutura a ser utilizada, tempo de apresentação e sequencia das ações a serem executadas na apresentação.</strong>  Se for o caso, trará, ainda, Imagens (limitadas ao tamanho do arquivo);
                  </p>
                  <p class="paragraph">
                    d)O resumo expandido deverá conter de 4 (quatro) a 6 (seis) laudas, incluindo Texto, Tabelas, Gráficos, Imagens e Referências;
                  </p>
                  <p class="paragraph">
                    e) O trabalho deverá ser apresentado em papel tamanho A4, com margens superior e esquerda de 3,0 cm, margens inferior e direita de 2,0 cm, em fonte Times New Roman, tamanho 12 para a fonte do corpo do texto, justificado e com espaçamento entre as linhas de 1,5 cm;
                  </p>
                  <p class="paragraph">
                    f) As citações de artigos (referências) no texto devem seguir as normas vigentes da ABNT, mais atual, no sistema autor-data (SOBRENOME, ano);
                  </p>
                  <p class="paragraph">
                    g) O texto deverá iniciar com o <strong>Título</strong> no alto da página, centralizado, em negrito e com letras maiúsculas apenas nas iniciais do título, na fonte Times New Roman, com espaçamento simples entre linhas. Solicita-se que o título esteja sucedido por dois pontos quando houver subtítulo.
                  </p>
                  <p class="paragraph">
                    h)Se o trabalho é vinculado a algum projeto de extensão, deverá ser apresentado o título do Projeto em nota de rodapé, citando o financiamento (IES/Agência de Fomento), quando for o caso;
                  </p>
                  <p class="paragraph">
                    i) Depois de dois espaços do Título, devem aparecer os Nomes Completos dos Autores, separados por ponto e vírgula, em fonte Times New Roman, tamanho 12, centralizados e grafados somente com as letras iniciais maiúsculas;
                  </p>
                  <p class="paragraph">
                    j) Em nota de rodapé (na 1ª página) deve vir a qualificação dos autores e a indicação das instituições de origem (Times 10), precedido pelo número correspondente a cada autor.
                  </p>

                  <p class="paragraph">
                    k) Demais questões de formatação devem obedecer à normatização mais recente da ABNT.
                  </p>

                  <p>
                    <strong><i>Obs. 1: Resumos enviados fora destas Normas Técnicas serão desclassificados.</i></strong>
                  </p>
                  <p>
                    <strong><i>Obs. 2: AA Revisão Gramatical deverá ser feita pelo(s) autor(es).</i></strong>
                  </p><br/>

                  <h4>7. Orientação para apresentação dos trabalhos</h4>
                  <p class="paragraph">
                    Os trabalhos deverão ser apresentados em forma de Pôster, performance e Comunicação Oral. Dos trabalhos avaliados pelos avaliadores ad hoc, a Comissão Científica local selecionará, entre 10% a 20%, os melhores trabalhos avaliados, exceto os de performance, para apresentação em Comunicação Oral, dentre o número de trabalhos inscritos proporcionalmente nas grandes áreas existentes em cada Campus.
                  </p> <br/>

                  <h4>7.1. Comunicação Oral</h4>
                  <p class="paragraph">
                    É de responsabilidade do apresentador levar o arquivo de mídia eletrônica, em formato de apresentação do Microsoft PowerPoint (.ppt). No dia e local determinados, serão disponibilizados um projetor multimídia e uma CPU para a apresentação oral. 
                  </p>
                  <p class="paragraph">
                    O autor deverá chegar ao local onde fará sua apresentação, pelo menos, 30 (trinta) minutos antes do início da sessão, identificar-se ao Coordenador(a) da sessão e fornecer ao operador de recursos audiovisuais o material para projeção. Cada trabalho terá no máximo 10 (dez) minutos para apresentação e discussão. 
                  </p><br/>

                  <h4>7.2. Pôster</h4>
                  <p class="paragraph">
                    O pôster deverá conter as seguintes medidas: 90 cm de largura e 1.20 m de altura. Deverá constar: título (que deve ser o mesmo do título do resumo expandido enviado), nome(s) do(s) autor(es), com a indicação da instituição/cidade/estado, introdução, objetivo, método, resultados, conclusões e referências. Os métodos e resultados poderão ser ilustrados com figuras, quadros e tabelas. As informações devem ser organizadas buscando apresentar e facilitar a compreensão das ideias centrais do trabalho. 
                  </p>
                  <p class="paragraph">
                   <strong>O aluno que possuir bolsa de extensão (PIBEX)</strong> deverá se responsabilizar, juntamente com os demais autores pela confecção do pôster e a sua fixação no local indicado antes do início da sessão.
                  </p>
                  <p class="paragraph">
                   <strong>EXCLUSIVAMENTE</strong> para o aluno <strong>QUE NÃO POSSUI</strong> bolsa de extensão (PIBEX), a UFPI custeará a confecção do pôster, desde que o aluno envie o arquivo a ser impresso em data a ser divulgada na página do SEMEX 2019 <a href="www.semex.ufpi.br">(www.semex.ufpi.br)</a>. 
                  </p>
                  <p class="paragraph">
                    A indicação do local de exposição do pôster é feita pelo número correspondente ao seu trabalho, conforme divulgado no site.
                  </p>
                  <p class="paragraph">
                    O limite de tempo para apresentação do trabalho será de no máximo 10 (dez) minutos.
                  </p>

                  <p class="paragraph">
                   O limite de tempo para apresentação do trabalho será de no máximo 10 (dez) minutos. 
                  </p>

                  <p class="paragraph">
                   Se pelo menos um dos autores não estiver presente no horário do julgamento, o trabalho será desclassificado automaticamente. Em caso de trabalho oriundo de projetos de extensão contemplado com bolsa PIBEX, a ausência do coordenador trará prejuízos para o julgamento deste e a submissão de trabalhos em editais da PREXC. 
                  </p>

                  <p class="paragraph">
                     A retirada dos pôsteres ao final da apresentação ficará a cargo dos apresentadores, isentando-se os organizadores da guarda destes após o término do evento.
                  </p>

                  <p>
                    <strong><i>Obs.: Trabalhos não apresentados não receberão certificados.</i></strong>
                  </p><br/>

                  <h4>8. Disposições Finais</h4>
                  <p class="paragraph">
                    A premiação ocorrerá no final do evento, em cada Campus, no qual serão premiados os melhores trabalhos selecionados para a Comunicação Oral, considerando a média de avaliação e de apresentação. A premiação ocorrerá da seguinte forma: primeiro, segundo e terceiro lugares de cada grande área em cada Campus – <strong>Certificado</strong>

                  </p>
                  <p class="paragraph">
                    Os trabalhos apresentados em forma de pôster também serão premiados com certificação, considerando a media da avaliação e da apresentação do pôster. A premiação será para o primeiro, segundo e terceiro lugares. 
                  </p>
                  <p class="paragraph">
                    O <strong>melhor trabalho na modalidade Performance</strong> também receberá certificado.
                  </p>
                  <p class="paragraph">
                    Em caso de empate, será considerada a maior nota nos critérios avaliados no trabalho, respeitando-se a seguinte ordem: natureza extensionista; impacto social; uso da metodologia pesquisa-ação participativa; estrutura e redação e coerência entre objetivos declarados e resultados alcançados. 
                  </p>
                  <p class="paragraph">
                    Só serão premiados os trabalhos indicados cujo(s) autor(es) esteja(m) presente(s)  na Cerimônia de Premiação. 
                  </p>
                  <p class="paragraph">
                    A inscrição implica na concordância e na aceitação de todas as cláusulas e condições estabelecidas nestas Normas para Inscrição e Apresentação de Trabalhos.
                  </p>

                  <p class="paragraph">
                    Os casos omissos na presente Norma serão encaminhados à Comissão Científica do evento.
                  </p>

                  <br/>

                  <h4>9. Cronograma</h4>
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Atividades</th>
                            <th scope="col">Responsável/Local</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td><strong>09/10/2019 a 22/10/2019</strong></td>
                            <td><strong>Submissão dos Trabalhos</strong> (para discentes extensionistas <strong>voluntários</strong>)</td>
                            <td><a href="{% url 'website:inscricao' %}">www.semex.ufpi.br</a></td>
                          </tr>
                          <tr>
                            <td>09/10/19 a 29/10/19</td>
                             <td><strong>Submissão dos Trabalhos</strong> (para discentes extensionistas <strong>que custearão seus banners</strong>)</td>
                            <td><a href="{% url 'website:inscricao' %}">www.semex.ufpi.br</a></td>
                          </tr>

                          <tr>
                            <td>09/10/19 a 19/11/19</td>
                             <td>Inscrição no Evento</td>
                            <td><a href="{% url 'website:inscricao' %}">www.semex.ufpi.br</a></td>
                          </tr>

                          <tr>
                            <td><strong>28/10/2019</strong>></td>
                            <td><strong>Resultado da Seleção de Trabalhos</strong> (para discentes extensionistas <strong>voluntários</strong>)</strong></td>
                            <td><a href="{% url 'website:inscricao' %}">www.semex.ufpi.br</a></td>
                          </tr>


                          <tr>
                            <td><strong>04/11/2019</strong>></td>
                            <td><strong>Resultado da Seleção de Trabalhos</strong> (para discentes extensionistas <strong>que se inscreveram após o dia 22/10</strong>)</strong></td>
                            <td><a href="{% url 'website:inscricao' %}">www.semex.ufpi.br</a></td>
                          </tr>

                        

                          <tr>
                            <td>29/10/19 a 01/11/2019</td>
                            <td>
                              Entrega online dos arquivos dos banners <strong>(somente de alunos não bolsistas)</strong> para a Coordenação Local do IX SEMEX 
                            </td>
                            <td>Autores de trabalhos voluntários</td>
                          </tr>



                          <tr>
                            <td>01/11/2019</td>
                            <td>
                              Envio dos arquivos(online) dos banners de  <strong>alunos voluntários</strong> para a Coordenação Geral do IX  SEMEX
                            </td>
                            <td>Assessor de extensão do Campus</td>
                          </tr>



                          <tr>
                            <td>04/11/2019</td>
                            <td>
                              Envio dos arquivos dos banners de  <strong>alunos voluntários</strong> para a gráfica 
                            </td>
                            <td>Coordenação Geral do IX SEMEX</td>
                          </tr>


                          <tr>
                            <td>Até 11/11/2019</td>
                            <td>
                              Entrega dos banners confeccionados de  <strong>alunos voluntários</strong>
                            </td>
                            <td>Coordenação Geral do IX SEMEX</td>
                          </tr>

                          <tr>
                            <td>19/11/2019 a 22/11/2019</td>
                            <td>
                              Realização do Evento
                            </td>
                            <td>Todos os Campi</td>
                          </tr>

                      </tbody>
                  </table> <br/>

                  <p class="text-center">
                    Teresina (PI): 23 de agosto de 2018.
                    <br/><strong><i>Coordenação Geral do SEMEX</i></strong>
                  </p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
