{% extends 'base.html' %}

{% block content %}
    <h2>Artigos</h2>

    <p>
        <a href="{% url 'artigo_upload' %}" class="btn btn-primary">Upload Artigo</a>

    </p>

    <table class="table">
        <thead>
          <tr>

            <th>Código</th>  
            <th>Titulo</th>
            <th>Autor</th>
            <th>Resumo</th>
            <th>Download</th>
        </tr>

        </thead>
        <tbody> 
            {% for artigo in artigos %}


                <tr>
                    <td>{{ artigo.cod_artigo }}</td>
                    <td>{{ artigo.titulo}}</td>
                    <td>{{ artigo.autor }}</td>
                    <td>{{ artigo.resumo }}</td>
                    <td>{{ artigo.area }}</td>

                    <td>
                        <a href= "{{ artigo.pdf.url }}" class= "btn btn-primary btn-sm" target="_blank">Download</a></td>
                    <td>
                        <form method="POST" action="{% url 'artigo_delete' artigo.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"> Deletar Artigo </button>
                        </form>
                        
                    </td>

                </tr>

            {% endfor %}
        </tbody>



    </table>
{% endblock %}
















































