<!doctype html>
{% load static %}
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, \ initial-scale=1, shrink-to-fit=no">

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/modernizr-custom.js' %}"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/float.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles-bluegreen.css' %}" id="theme-styles">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/settings-panel.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<title>{% block title %} ESPPEdu {% endblock %}</title>
</head>

<body>
  <br />
  <br />
	<header>

		<div class="widewrapper masthead">
			<div class="container">
				<a style="font-family: 'Anton', sans-serif;" href="/" id="logo">
					ESPPEdu
					<!--<img src="{%static 'img/logo.png' %}">-->
				</a>
				<div id="mobile-nav-toggle" class="pull-right">
					<a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<nav class="pull-right tales-nav">
					<div class="collapse navbar-collapse">
						<ul class="nav nav-pills navbar-nav">
							{% comment %} <li class="dropdown active">
								<a href="/">Início</a>
							</li> {% endcomment %}
							<li>
								<a href="#">Sobre</a>
							</li>
							<li>
								<a href="#">Contato</a>
							</li>
							<li>
								<a href="#">Creditos</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<div class="widewrapper subheader">

			<div class="container">
				<div class="dropdown float-right tales-breadcrumb">


					<a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">Acesso <span class="caret"></span></a>
					<ul style="padding: 5px;" class="dropdown-menu">

						{% if user.is_authenticated %}
						<li class="active"><a href="{% url 'logout' %}">Desconectar</a></li>
						{% else %}
						<li class="active"><a href="{% url 'login' %}">Conectar</a></li>
						<li class="active"><a href="{% url 'signup' %}">Cadastre-se</a></li>
						{% endif %}
					</ul>
				</div>

				<div class="tales-breadcrumb">
					<a href="/">&nbsp &nbsp; Início &nbsp&nbsp</a>

					{% block local %}

					{% endblock %}


				</div>
			</div>
		</div>

	</header>

  <div class="container">

    {% block content %}

    {% endblock content %}

  </div>

  <br />
  <br />

	<footer>
		<div class="widewrapper footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 footer-widget">
						<h3> <i class="fa fa-wpforms"></i>Sobre</h3>
						Revista desenvolvida na disciplina Conclusão de Curso na UFPI Campus Senador Helvideo Nunes de Barros-Picos PI
					</div>

					<div class="col-md-4 footer-widget">
						<h3> <i class="fa fa-star"></i> Últimos envios</h3>
						<ul class="tales-list">
							<li><a href="#">  </a></li>
							{% for funcionario in posts %}
								{% if funcionario.gender == 'S' %}
									<li><a href="#"> {{ funcionario.titulo  }} </a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>

					<div class="col-md-4 footer-widget">
						<h3> <i class="fa fa-envelope"></i>Contato</h3>
						<span class="email">
							<a href="#">hericlysdlarii@gmail.com</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="widewrapper copyright">
			<div class="container">
				Desenvolvimento: <a href="#" rel="nofollow">@hericlysdlarii</a>
			</div>
		</div>
	</footer>
</body>

</html>