{% extends 'base.html' %}
{% load static %}
{% block title %} ESPPEdu{% endblock %}
{% block content %}


<div class="widewrapper main">

	<div class="container">

		<div class="row">
			<div class="container">
				{% if user.is_authenticated %}
				<div style="margin-top:25px" class="jumbotron">
					<h1>Revista Eletrônica UFPI.</h1>
					<p class="lead">Submeta seu artigo rapidamente!.</p>
					<p class="lead">
						<a href="artigos" class="btn btn-primary btn-lg" href="#" role="button">Publicações</a>
						<a href="artigos/upload" class="btn btn-primary btn-lg" href="#" role="button">Nova Publicação</a>
					</p>
				</div>
				{% endif %}
			</div>
			
			<div class="col-md-8 blog-main">

				<div class="thumbnail card">
					<div style="padding: 15px; margin: 3px;" class="media">
						<div class="media-left">
							<img width="170" style="border-radius: 10px;" class="media-object" src="">
						</div>
						<div class="media-body">
							<h4 class="media-heading"><strong>Nossa Revista</strong></h4>
							<p>Revista desenvolvida na disciplina de Trabalho de Conclusão de Curso na UFPI Campus Senador Helvideo Nunes de Barros-Picos PI.</p>

						</div>
					</div>
					<footer class="card-footer text-right">
						<div class="clearfix">
							<a href="sobre/" class="btn btn-tales-one">Saiba mais</a>
							<a href="accounts/login" class="btn btn-tales-one">Submeter</a>
						</div>
					</footer>
				</div>

				<h2><strong>Principais Publicações</strong></h2>
				
				{% if posts.count == 0 %}
					<div style="text-align:center" class="jumbotron">
						<h2>Nenhum artigo publicado!</h2>
					</div>
				{% endif %}
				<div class="row">
	
					{% for funcionario in posts %}
						{% if funcionario.gender == 'S' %}
							<div class="col-md-6 col-sm-6">

								<article class="blog-teaser">
									<header>
										<img src="{% static 'img/cat.png' %}" alt="A Cat">
										<h3><a href="details/">{{ funcionario.titulo }}</a></h3>
										<span class="meta">11 Dezembro 2018, {{ funcionario.nome }} 	{{ funcionario.sobrenome }} </span>
										<br>
										<strong> Palavras-Chave:</strong>	<span> {{ funcionario.keywords }} </span>
										<hr>
									</header>
									<div class="body">
										
									</div>
									<div class="clearfix">
										<a href="details/" class="btn btn-tales-one">Leia mais</a>
									</div>
								</article>
							</div>	
						{% endif %}
					{% endfor %}
				</div>			
				
			</div>

			<aside class="col-md-4 blog-aside">

				<div style="margin-top:-100px;" class="aside-widget">
					<header>
						<h3>Universidade Vinculada</h3>
					</header>
					<div class="body text-center" >
							<img src="{% static 'img\ufpi.png' %}">
					</div>
					<br>
				</div>

				<div class="aside-widget">

					<header style="margin-top:-92px;">
						<h3>Últimas públicações</h3>
					</header>
					<div class="body">
						<ul class="tales-list">
							{% if posts.count == 0 %}
								<div style="text-align:center" class="jumbotron">
									<h2>Nenhum artigo publicado!</h2>
								</div>
							{% endif %}
							{% for funcionario in posts %}
								{% if funcionario.gender == 'S' %}
									<li><a href="#"> {{ funcionario.titulo  }} </a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="aside-widget">
					<header>
						<h3>Autores</h3>
					</header>
					<div class="body">
						<ul class="tales-list">
							{% for funcionario in posts %}
								{% if funcionario.gender == 'S' %}
									<li><a href="#"> {{ funcionario.nome  }} </a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</aside>
		</div>
	</div>
</div>

{% endblock %}