appdirs==1.4.2
asn1crypto==0.24.0
cryptography==3.2
Django==1.11.25
django-autocomplete-light==3.2.1
django-extensions==2.2.1
django-localflavor==1.4.1
django-widget-tweaks==1.4.1
easy-thumbnails==2.5
enum34==1.1.6
gpg==1.10.0
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
mysql-connector-python==2.1.6
MySQL-python==1.2.5
mysql-utilities==1.6.4
mysqlclient==1.4.5
packaging==16.8
paramiko==2.0.0
pexpect==4.2.1
Pillow==5.2.0
psycopg2==2.7
psycopg2-binary==2.7.5
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
PyMySQL==0.9.3
pyodbc==4.0.17
pyOpenSSL==17.5.0
pyparsing==2.1.10
pysqlite==2.7.0
python-decouple==3.1
pytz==2019.3
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.3.0
typing==3.7.4.1
xlrd==1.0.0
