<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
        <title>ESPPEdu</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Font-awesome -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        <style>
            body {
                margin-top: 60px;
            }
        </style>

        {% block css %}{% endblock css %}

        </body>

    </head>

    <body>
        {% include "includes/nav.html" %}
        
        <main class="container">
            {% block content %}
        
            {% endblock content %}
        </main>

         <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        {% block js %}{% endblock js %}

    </body>
</html>