{% extends 'base.html' %}
{% load filters %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <p></p>
    <div class="form-group">
        {{ formUser.username.errors }}
        <label>Nome de Usuário: </label>
        {{ formUser.username|addClass:'form-control' }}
    </div>
    <div class="form-group">
        {{ formUser.password1.errors }}        
        <label>Senha: </label>
        {{ formUser.password1|addClass:'form-control' }}
    </div>
    <div class="form-group">
        {{ formUser.password2.errors }}
        <label>Confirmação de senha: </label>
        {{ formUser.password2|addClass:'form-control' }}
    </div>
    <div class="form-group">
        <a href="{% url 'loginUser' %}"><input type="button" class="btn btn-primary" value="Voltar"></a>
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </div>
</form>
{% endblock content %}