{% extends 'base.html' %}

{% block content %}
<h1>remover</h1>
<div class="card mb-3">
    <div class="card-header">  
        Tem certeza que deseja remover a tarefa abaixo?
    </div>
    <div class="card-body">  
        <h5 class="card-title">{{ task.name }}</h5>
        <p class="card-text">{{ task.about }}</p>
        <p class="card-text">{{ task.date }}</p>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>
    </div>
</div>
{% endblock content %}