{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}

<div class="content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>Alterar Senha</h3>
			<div class="box box-primary cent">
				<br><br>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="alert alert-success">
							<h3><b>Senha alterada com sucesso!</b></h3>
						</div>
					</div>
				</div>        
				<!-- Redirecina depois de 4 segundos -->
				<meta http-equiv="REFRESH" content="4;url={% url 'accounts:password_reset_complete' %}">
			</div>
		</div>
	</div>
</div>
{% endblock %}