{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<section class="content-header">
	<div class="row">
		<h3 class="col-md-8 col-md-offset-1">Ranking de trabalhos submetidos por campus</h3>
	</div>
	<div class="row">

		<div class="col-md-9 col-xs-9 col-sm-9 col-md-offset-1">
			<form class="form-horizontal" action="." method="get">
				<div class="input-group">
					<input id="search_box" name="search_box" type="text" placeholder="Digite o campus" class="form-control" autofocus="true" value="{{ request.GET.search_box }}">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default form-control" title="Clique para realizar a pesquisar">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</form> 
		</div>
	</div>
</section>
<div id="listItems" class="content">
	<div class="row">
		<div class="col-md-9 col-md-offset-1">
			<div class="box box-primary">
				<div class="box-body">
					{% if object_list %}
					<div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered table-striped">
              <thead>
                <tr class="text-center">
                  <th class="text-center" width="90%">Título</th>
									<th class="text-center" width="10%">Nota Final</th>
								</tr>
							</thead>
							<tbody>
                {% for object in object_list %}
                  <h3>
                    Campus: {{ object.campus.name }}
                  </h3>
                  {% for evaluation in object.works %}
                  <tr>
                    <td>{{ evaluation.work.title}}</td>
                    <td>{{ evaluation.average|floatformat:2}}</td>	
                  </tr>
                  {% endfor %}

								{% endfor %}
							</tbody>
            </table>
					</div>
					{% else %}
					<div class="cent">
						<h4>
							<b>Pesquise por o campus.</b>
						</h4>
					</div>
					{% endif %}
				</div>

				<div class="box-footer clearfix">
            <div class="row">
              <div class="col-md-3">
                <h4><strong>Total: {{ total }}</strong></h4>
              </div>
            </div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}


{% block scripts %}

{{ block.super }}
{{ form.media }}

<script>

	$('#listItems').on('click', '.deleteItem', function(e){
		var id = $( this ).attr("data-id"),
		urlDel = "../"+"atividade-delete/" + id,
		linha_editada = $(e.currentTarget).closest('tr');
		token = "{{csrf_token}}";

		swal({
			title: "Deletar Permanentemente!",
			text: "Deseja realmente deletar essa atividade?",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "SIM!",
			cancelButtonText: "CANCELAR!",
			closeOnConfirm: false
		}, function(){
					 //window.location.href = "http://localhost/ce/public/admin/gerenciarbanco/delete/"+id;

					 $.ajax({
					 	url: urlDel,
					 	type: 'get',
		    		//data: { csrfmiddlewaretoken: token },

		    	})
					 .done(function(d){
					 	if ( d.code == 1 )
					 	{
					 		swal('Excluida!','Atividade excluida com sucesso!',"success");

					 		linha_editada.hide();


					 	}

					 })
					 .fail(function(f){
					 	swal('Falha!','Erro ao excluir atividade!',"error");
					 });

					});

	});
</script>

{% endblock %}
